* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

header {
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;

}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.num-1 {
    background-color: aquamarine;
}

.num-2 {
    background-color: aqua
}

.num-3 {
    background-color: blueviolet
}

.num-4 {
    background-color: rgb(127, 210, 255);
}

.num-5 {
    background-color: rgb(127, 255, 144);
}