.inputRadio {
    display: none;
}

.carousel {
    position: relative;
    width: 80%;
    max-width: 800px;
    border-radius: 12px;
    overflow: hidden;
    height: 60%;
}

.slides {
    display: flex;
    width: 300%;
    transition: transform 0.6s ease;
}

.slide {
    width: 100%;
    flex-shrink: 0;
}

.slide img {
    width: 100%;
    display: block;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
    user-select: none;
}

.arrow:hover {
    background: rgba(0, 0, 0, 0.6);
}

.left {
    left: 15px;

}

.right {
    right: 15px;
}

.dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fff4;
    cursor: pointer;
    transition: background 0.3s;
}

.dot.active {
    background: #fff;
}