* {
    padding: 0;
    margin: 0;
}

.logo_img {
    width: 25%;
    padding: 1rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    color: white;
    position: relative;
}

.menu-toggle {
    padding: 2em;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    user-select: none;
}
.menu{
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: black;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    padding: 1rem 0;
    list-style: none;
}
.menu li{
    padding: 1rem;
    width: 100%;
    text-align: center;
    border-top: 1px solid #bca7e7;
    margin: 0;
    font-family: "Public Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
}
.menu li:hover{
    background-color: #bca7e7;
}

.menu li:nth-last-child(1){
    background-color: #bca7e7;
}
.menu.active{
    display: flex;
    padding: 0;
}
.navbar {
    z-index: 100;
  }
  
  .menu {
    z-index: 99;
  }
.img_hero {
    width: 100%;
}

.hero_section {
    position: relative;
}

.main_title {
    position: absolute;
    top: 35%;
    color: white;
    font-family: "Anton SC", sans-serif;
    margin: auto 1rem;
    font-size: 45px;
}

.main_text {
    position: absolute;
    top: 50%;
    color: wheat;

}

.cta_main {
    position: absolute;
    top: 50%;
    right: 60%;
    background-color: transparent;
    padding: 1.5em;
    font-family: "Public Sans", sans-serif;
    border: 1px solid white;
    border-radius: 5px;
    font-weight: 900;
    color: white;
    letter-spacing: 1.5px;
    font-size: 16px;
}

.grid_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    padding: 2%;
    font-size: 16px;
    font-family: "Public Sans", sans-serif;
}

.titles {
    font-family: "Anton", sans-serif;
    text-align: center;
    font-size: 28px;
}

.tempo {
    background-color: transparent;
    padding: 1em;
    color: black;
    font-family: "Anton SC", sans-serif;
    font-weight: 800;
    font-size: 24px;

}

.pp {
    position: absolute;
    top: 80%;
    right: 50%;
}

.te {
    position: absolute;
    top: 80%;
    right: 50%;
}

.pa,
.ot {
    position: absolute;
    top: 80%;
    right: 50%;
}

.video_d {
    display: none;
}

.footer {
    background-color: black;
    color: #bca7e7;
}

.items {
    text-decoration: none;
    padding: 2rem 1em;
    list-style: none;
    margin: 1em auto;
    font-family: "Public Sans", sans-serif;
    font-weight: 700;
}

a {
    text-decoration: none;
}

.footer a:visited {
    text-decoration: none;
    color: #bca7e7;
}

.cards_section img {
    width: 95%;
    /* border-radius: 100%; */
    object-fit: cover;
}
.prox img{
    width: 35%;
    object-fit: cover;
}
.prox li{
    font-family: "Public Sans", sans-serif;
    font-weight: 700;
    color: #6336bc;
}
li {
    margin-top: 1em;
 
}

.redes {
    display: flex;
    justify-content: space-around;
    list-style: none;
    color: white;
}

.relat {
    position: relative;
}

.cards_section {
    margin-top: 3em;
}

.btn_vermas {
    background-color: transparent;
    border: 1px solid #bca7e7;
    padding: 1em;
}

.btn_volver{
    width: 100%;
    margin-bottom: 1rem;
    align-items: center;
    background-color: black;
    padding: 1rem;
    position: sticky;
    top: 0;
}
.volver{
    padding: .5em 2rem;
    font-weight: 800;
    background-color: white;
    border: none;
    border-radius: 5px;

}

@media (min-width: 768px) {

    .grid_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}