* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.container_torneos {
    font-family: "Public Sans", sans-serif;
    height: 90vh;
    width: 100%;
    position: relative;
    z-index: 1;
}

.container_torneos::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('./assets/padel_torneoapp.png');
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    width: 100%;
    height: 90vh;
    opacity: 0.3;
    z-index: -1;
}


.subtitle_torneoind {
    text-align: center;
    color: #bca7e7;
    font-family: "Public Sans", sans-serif;
    font-weight: 900;
}

.contenedor1 {
    display: flex;
}

.box1 {
    padding: 3rem 1em 3rem 2rem;
    background-color: transparent;
    color: white;
    font-family: "Public Sans", sans-serif;
    font-weight: 700;
}

.contenedor2 {
    display: flex;
}

.box2 {
    padding: 3rem 1em 3rem 2rem;
    width: 90%;
    background-color: transparent;
    color: white;
    font-family: "Public Sans", sans-serif;
    font-weight: 700;
}

.btn_individual {
    padding: 1rem 3rem;
    background-color: transparent;
    border: 1px solid #bca7e7;
    color: #bca7e7;
    font-family: "Public Sans", sans-serif;
    font-weight: 700;
   display: block;
  margin: 0 auto;
}